.App{
  display: flex;
  flex-direction: column; /*노출 순서 열로 바꿔줌*/
}

.header{
  padding: 1rem 2rem;
  background: #3b5998;
  display: flex;
  justify-content: space-between;
  align-items: center; /*기본값 stretch임 그럼 위아래로 퍼짐*/
}

.header h1 {
  color: #fff;
}

.header select{
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border: none;
}

section{
  padding: 1rem;
}